@import "../../integrations/adjust_config";
@import "../../integrations/page_settings";
@import "../../integrations/reset";

html, body {
  margin: 0;
  padding: 0;
  background: #ECECEC !important;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  @include font-dpr(14px);
  color: #000;
  overflow: hidden;

  a {
    color: #000000;
  }
}

/***************  common style  ****************/
.profile {
  //background: url("Profile-bgp.png");
  background: #d65353;
  background-size: cover;
  height: p2e(480px);
  text-align: center;

  .avatar {
    position: relative;
    top: p2e(50px);
    margin: 0 auto;
    width: p2e(200px);
    height: p2e(200px);
    border-radius: p2e(200px);
    border: 4px white solid;
    overflow: hidden;

    img {
      width: 100%;
      display: inline-block;
    }
  }
}

.wx_name {
  @include font-dpr(18px);
  color: #ffffff;
  position: relative;
  top: p2e(80px);
}

.total-gyb {
  position: relative;
  top: p2e(120px);
  @include font-dpr(20px);
  color: #32CD32;

  a {
    color: #32CD32;
  }

  p {
    display: inline-block;
  }

  p.tt {
    @include font-dpr(14px);
  }
}

.remarks {
  @include font-dpr(14px);
  color: #9b9b9b;
  text-align: center;
  margin-top: p2e(48px);
}

p.menu-name {
  @include font-dpr(16px);
  color: dimgray;
  display: table-cell;
  vertical-align: middle;
}

i.menu-icon {
  display: table-cell;
  vertical-align: middle;
  padding: p2e(2px) p2e(16px);
}

i.arrow {
  display: table-cell;
  vertical-align: middle;
  padding: p2e(2px) p2e(16px);
}

.t-left {
  float: left;
  margin: p2e(10px) auto;
}

.t-right {
  float: right;
  margin: p2e(10px) auto;
}

.red {
  color: red;
}

.clear {
  clear: both;
}

.progress {
  text-align: center;
  width: 75%;

  .progress-bar {
    width: inherit;
    height: p2e(16px);
    border: 1px grey solid;
    border-radius: p2e(10px);
    display: inline-block;

    .green-bar {
      height: 100%;
      width: 40%;
      background: #32CD32;
      border-radius: p2e(10px);
    }
  }

  .progress-percent {
    @include font-dpr(14px);
    display: inline-block;
    position: relative;
    right: p2e(-30px);
  }
}

.support-info {
  text-align: center;

  p.total {
    @include font-dpr(14px);
    color: #d88b1f;
  }

  .supporters {
    display: inline-block;
  }

  .money {
    display: inline-block;
  }
}

.btn-default {
  @include font-dpr(14px);
  background: #ffffff;
  width: 45%;
  border-radius: p2e(4px);
  border: 2px solid #c44659;
  display: inline-block;
}

.btn-highlight {
  background: #c44659;
  color: #ffffff;
}

.btn-wide {
  margin: 0 auto;
  line-height: p2e(48px);
  width: 100%;
}

.btn-middle {
  margin: 0 auto;
}

/**************  homepage style  **************/
.homepage {

  /**********  start of common style  **********/
  .header-section {
    border-bottom: p2e(1px) solid #979797;

    .title {
      @include font-dpr(14px);
      color: #9B9B9B;
      display: inline-block;
    }

    a.all {
      @include font-dpr(14px);
      color: #32AFEF;
      display: inline-block;
      position: absolute;
      right: p2e(32px);
    }
  }

  .goods-item {
    width: p2e(340px);
    height: p2e(470px);
    border: p2e(1px) lightgray solid;
    display: inline-block;

    .item-property {
      .item-name {
        margin: p2e(10px);
        text-align: left;
        @include font-dpr(14px);
      }

      .item-bottom {
        .item-price {
          margin: p2e(8px);
          font-weight: 600;
        }

        .item-hearts {
          margin: p2e(8px);

          i {
            margin-left: p2e(8px);
            margin-right: p2e(8px);
          }
        }
      }
    }
  }

  /**********  end of common style  **********/

  .banner-swiper {
    .swiper-container {
      width: 100%;
      height: p2e(400px);

      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          background: #fff;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
      }
    }
  }

  ul.nav-list {
    list-style: none;
    text-align: center;

    li.nav-item:nth-child(4) {
      border-right: none;
    }

    li.nav-item {
      width: 22%;
      border-right: p2e(1px) solid #979797;
      display: inline-block;

      a {
        text-decoration: none;

      }

      .nav-item-icon {
        margin: 0 auto;
        width: p2e(80px);
        height: p2e(80px);
        -webkit-border-radius: p2e(10px);
        -moz-border-radius: p2e(10px);
        border-radius: p2e(10px);
        background: limegreen;
      }

      .nav-item-name {
        color: #9B9B9B;
        @include font-dpr(14px);
        margin-top: p2e(14px);
      }
    }
  }

  .rcmds {
    .rcmds-list {
      text-align: center;
      display: table;

      img {
        width: 100%;

      }

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .hot {
    .hot-items {
      text-align: center;
    }
  }

  .charity-auction {
    .auction-list {
      .auction-item {
        img {
          width: 100%;
        }

        .auction-thumb {
          border: p2e(1px) solid grey;
          height: p2e(200px);

        }

        .auction-price {
          display: table;
          vertical-align: middle;

          .price {
            @include font-dpr(14px);
            display: inline-block;

            span {
              color: red;
            }
          }

          .auction-going {
            width: p2e(300px);
            display: inline-block;
            position: absolute;
            right: p2e(32px);
          }
        }
      }
    }
  }

  .charity-sale {
    margin-bottom: p2e(80px);
    padding-bottom: p2e(24px);

    .claim {
      @include font-dpr(14px);
      text-align: center;
      color: red;
    }

    .charity-sale-list {
      text-align: center;
    }
  }

  .bottom-nav {
    background: whitesmoke;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: p2e(1px) solid lightgray;
    text-align: center;
    @include font-dpr(16px);

    .bottom-nav-fixed {
      a {
        text-decoration: none;
        color: orangered;
      }

      i {
        padding-left: p2e(50px);
        padding-right: p2e(50px);
      }
    }
  }
}

/*********** project list style *******/
.projects {
  background: #ffffff;

  .project-list {
    .project-item {
      position: relative;
      width: 100%;

      .project-pic {
        position: relative;
        left: 0;
        width: 100%;
        display: block;

        img {
          width: 100%;
        }
      }

      .project-info {
        text-align: left;
        width: 60%;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;

        p.title {
          @include font-dpr(14px);
          color: #000;
        }

        p.description {
          @include font-dpr(12px);
          color: #9b9b9b;
        }

        .support-info {
          .target {
            display: inline-block;
          }
        }
      }
    }
  }
}

/**********  personal-center style  ***********/
.personal-center {
  .menu {
    line-height: p2e(56px);

    .my-cart {
      padding: p2e(10px);
    }

    .my-gyb-menu {
      padding: p2e(10px);
    }

    .all-orders {
      padding: p2e(10px);
    }

    .finished-orders {
      background: #ffffff;
      padding: p2e(10px);
      border-top: p2e(1px) solid lightgray;
      border-bottom: p2e(1px) solid lightgray;
    }

    .unfinished-orders {
      background: #ffffff;
      padding: p2e(10px);
    }

    .supported-projects {
      padding: p2e(10px);
    }

    .my-donations {
      padding: p2e(10px);
    }

    .my-settings {
      padding: p2e(10px);
    }
  }

  .foot {
    text-align: center;
    color: #979797;
    @include font-dpr(14px);
    position: relative;
    margin: p2e(56px) auto;
  }
}

/**********  donations-center style  **********/
.donations-center {
  .donation-head {
    background: url("donation_bgp.png");
    background-size: cover;
    height: p2e(400px);
  }

  .donate-btn {
    height: p2e(80px);
    @include font-dpr(18px);
    color: #ffffff;
    background: #4CD964;
    border-radius: p2e(10px);
    text-align: center;
    width: 95%;
    display: table;
    margin-top: p2e(48px);
    margin-bottom: p2e(48px);

    p {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .history-donations {
    .donation {
      position: relative;

      .donation-pic {
        width: 25%;
        border-radius: p2e(10px);
        overflow: hidden;
        display: inline-block;

        img {
          width: 100%;
          display: inline-block;
        }
      }

      .donation-description {
        position: absolute;
        //border: 1px red solid;
        display: inline-block;
        width: 65%;

        p.title {
          @include font-dpr(16px);
          color: #000;
        }

        p.date {
          @include font-dpr(14px);
          color: #9b9b9b;
        }

        p.state {
          @include font-dpr(14px);
          color: #4CD964;
        }
      }
    }
  }
}

/****************  my-gyb style  **************/
.my-gyb {
  .switch-tabs {
    background: #ffffff;
    text-align: center;
    @include font-dpr(16px);

    span {
      border: 1px dodgerblue solid;
      padding: p2e(10px) p2e(40px);
    }

    span.income {
      background: #4CD964;
      color: #ffffff;
    }
  }

  .exchange {
    text-align: center;
    color: #9b9b9b;
    @include font-dpr(16px);

    .exchange-area {
      text-align: center;

      .exchange-box {
        border: 1px #4CD964 solid;
        color: #9b9b9b;
        padding: p2e(10px) p2e(20px);
        border-radius: p2e(4px);
      }

      .exchange-btn {
        background: #4CD964;
        color: #ffffff;
        padding: p2e(10px) p2e(20px);
        border: none;
        border-radius: p2e(4px);
      }
    }
  }

  .gyb-got {
    .gyb-item {
      position: relative;

      .gyb-item-head {
        padding: p2e(10px);
        border-bottom: p2e(1px) solid lightgray;
      }

      .gyb-item-pic {
        display: inline-block;
        width: 20%;

        img {
          width: 100%;
        }
      }

      .gyb-item-detail {
        display: inline-block;
        width: 70%;
        position: absolute;

        p.gyb-plus {
          span {
            color: red;
            @include font-dpr(16px);
            font-weight: bold;
          }
        }
      }
    }
  }
}

/***********  project-detail style  ***********/
.project_detail {
  background: #ffffff;
  height: 100%;
  padding-bottom: p2e(120px);

  .project-detail-head {
    height: p2e(400px);
    //width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .project-title {
    @include font-dpr(18px);
  }

  .progress {
    margin: 0 auto;
    width: 85%;
  }

  .project-detail-area {
    border: p2e(1px) solid lightgray;
    border-radius: p2e(4px);
    height: p2e(300px);
    box-shadow: 2px 3px 8px lightgray;
    margin-top: p2e(36px);

    .cate-title-wrapper {
      width: 100%;
      border-bottom: p2e(1px) solid lightgray;
      @include font-dpr(16px);
      display: table;
      vertical-align: middle;

      .cate-title {
        .p-bar {
          width: p2e(20px);
          display: table-cell;
          background: #d88b1f;
        }

        .p-title {
          display: table-cell;
        }
      }
    }

    .project-supporters {
      .supporter-avatar {
        height: p2e(80px);
        width: p2e(80px);
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;

        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

    .project-comment {
    }
  }

  .btn-bottom-area {
    position: fixed;
    bottom: p2e(18px);
    text-align: center;
    width: 100%;
  }
}

/***********  shelf-item-detail style  ***********/
.shelf-item-detail {
  width: 100%;
  background-color: white;

  .big-thumb {
    width: 100%;
    height: p2e(400px);
    border-bottom: p2e(1px) solid #979797;

    img {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }

  .main {
    width: 100%;
    //height: p2e(350px);
    //border-bottom: p2e(1px) solid #979797;

    .main-left {
      box-sizing: border-box;
      float: left;
      width: 100%;
      height: 100%;
      padding: p2e(20px);
      padding-left: p2e(40px);

      .product-name {
        @include font-dpr(16px);
      }

      .price {
        line-height: p2e(80px);

        .big-price {
          @include font-dpr(16px);
          color: red;
        }

        .coin {
          @include font-dpr(14px);
          margin-left: p2e(20px);
          color: #f5a623;
        }
      }

      .info {
        box-sizing: border-box;
        width: 100%;

        dl {
          padding-bottom: p2e(5px);
          @include font-dpr(14px);

          dt {
            float: left;
            color: #7D7C7C;
          }

          dd {
            float: left;
          }
        }

        p.stock {
          line-height: p2e(40px);
          @include font-dpr(12px);
          text-align: center;
        }

        .dl-clear:after {
          content: "";
          display: block;
          height: 0;
          clear: both;

        }
      }
    }

    .main-right {
      box-sizing: border-box;
      float: left;
      width: 50%;
      height: 100%;
      padding: p2e(20px);
      padding-left: p2e(80px);

      ul.attrs {
        padding-top: p2e(30px);

        li {
          @include font-dpr(16px);
          color: #7D7C7C;
          padding-bottom: p2e(10px);
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: p2e(80px);
    border-bottom: p2e(1px) solid #979797;

    ul {
      li {
        display: inline-block;
        width: 50%;
        text-align: center;
        @include font-dpr(18px);
        line-height: p2e(80px);

        a {
          color: #979797;
          text-decoration: none;
        }
      }

      span.split {
        position: absolute;
        width: 1px;
        height: p2e(60px);
        left: 50%;
        margin-top: p2e(10px);
        background-color: #979797;
      }
    }
  }

  .detail-body {
    @include font-dpr(14px);
    line-height: p2e(56px);
  }

  .buttons {
    position: fixed;
    z-index: 999;
    bottom: p2e(14px);
    width: 100%;
    text-align: center;
    background-color: white;
    border-top: p2e(1px) solid #979797;
  }
}

/************  donate-page style  *************/
.donate-page {
  background: #ffffff;

  .donate-page-head {
    img {
      width: 100%;
    }
  }

  .donation-info {
    @include font-dpr(14px);

    .form-group {
      color: #9b9b9b;
      padding: p2e(20px) p2e(30px);

      .form-control {
        height: p2e(60px);
        width: 100%;
        margin-top: p2e(10px);
        border: p2e(1px) solid #979797;
        border-radius: p2e(5px);
      }

      .donation-photos {
        display: table;
        .camera {
          width: p2e(100px);
          height: p2e(100px);
          border: 1px red solid;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          color: dimgray;
        }
      }
    }
  }
}

ul.products-list {
  background: #FFFFFF;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    //text-align: center;

    li.goods-item {
      width: p2e(340px);
      height: p2e(400px);
      border: p2e(1px) solid lightgray;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: 998;
}

.confirm-box {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: #FFFFFF;
  padding: p2e(20px);

  .item-number {
    padding: p2e(18px);
    margin-bottom: p2e(36px);
    @include font-dpr(14px);
    display: table;

    a {
      color: #000;
      text-decoration: none;
    }

    p {
      display: table-cell;
      vertical-align: middle;
    }

    a.t-minus {
      text-align: center;
      height: p2e(48px);
      width: p2e(48px);
      border: p2e(1px) solid grey;
      display: table-cell;
      vertical-align: middle;
    }

    input.count {
      text-align: center;
      height: p2e(48px);
      width: p2e(120px);
      border: p2e(1px) solid grey;
      display: table-cell;
      vertical-align: middle;
    }

    a.t-plus {
      text-align: center;
      height: p2e(48px);
      width: p2e(48px);
      border: p2e(1px) solid grey;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .delivery-addr {
    padding: p2e(14px);
    @include font-dpr(14px);
    display: table;
    width: 100%;
    border-bottom: p2e(1px) solid lightgray;

    p {
      margin: p2e(14px) auto;
    }

    .inline-block {
      display: inline-block;
      margin-right: p2e(14px);
    }
  }
}

.my-address {
  //background: #979797;
  @include font-dpr(14px);

  p {
    padding: p2e(10px);
  }

  .address-item {
    background-color: #FFFFFF;
    border: p2e(1px) solid lightgray;

    .name {
      display: inline-block;
    }

    .tel {
      display: inline-block;
    }

    .address {
      display: block;
    }
  }
}



/**********  orders/pay style  ***********/
.order-pay {
  line-height: p2e(48px);

  .inline-block {
    display: inline-block;
    margin-right: p2e(14px);
  }

  .delivery-addr {
    background: #FFFFFF;
    padding: p2e(18px);
    @include font-dpr(14px);
    border-bottom: p2e(1px) solid lightgray;

    p {
      margin: p2e(14px) auto;
    }
  }

  .brief-info {
    background: #FFFFFF;

    .product-thumb {
      display: inline-block;
      width: p2e(150px);

      img {
        width: 100%;
      }
    }

    .product-name {
      @include font-dpr(16px);
      display: inline-block;
      position: absolute;

      p {
        line-height: p2e(48px);
      }
    }

    .product-price {
      display: inline-block;

      p {
        @include font-dpr(14px);
      }
    }

    .product-count {
      display: inline-block;

      p {
        @include font-dpr(14px);
      }
    }
  }

  .right-align {
    float: right;
  }

  .delivery {
    background: #FFFFFF;
    @include font-dpr(14px);
    border-bottom: p2e(1px) solid lightgray;
  }

  .gyb-discount {
    background: #FFFFFF;
    border-bottom: p2e(1px) solid lightgray;

    p {
      @include font-dpr(14px);
    }
  }

  .total-price {
    background: #FFFFFF;

    p {
      @include font-dpr(16px);
    }
  }
}

/**********  orders/index style  ***********/
.orders {
  .no-orders {
    margin: p2e(300px) auto;
    text-align: center;

    p {
      color: #000;
    }
  }

  .order-list {
    .order-item {
      background: #FFFFFF;
      @include font-dpr(14px);
      line-height: p2e(56px);

      .item-head {
        border-bottom: p2e(1px) solid lightgray;

        .delivery-status {
          display: table;
          margin: p2e(10px) auto;

          p {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      .item-body {
        .brief-info {
          background: #FFFFFF;

          .product-thumb {
            display: inline-block;
            width: p2e(150px);

            img {
              width: 100%;
            }
          }

          .product-name {
            @include font-dpr(16px);
            display: inline-block;
            position: absolute;

            p {
              line-height: p2e(48px);
            }
          }

          .product-price {
            display: inline-block;

            p {
              @include font-dpr(14px);
            }
          }

          .product-count {
            display: inline-block;

            p {
              @include font-dpr(14px);
            }
          }

          .order-price {
            display: inline-block;

            p {
              @include font-dpr(14px);
            }
          }
        }
      }
    }
  }
}

/**********  orders/show style  ***********/
.order-detail {
  @include font-dpr(14px);
  line-height: p2e(56px);

  .order-detail-head {
    background: #FFFFFF;
    border-bottom: p2e(1px) solid lightgray;

    .order-status {
      display: table;
      margin: p2e(10px) auto;

      p {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .delivery-addr {
    background: #FFFFFF;
    @include font-dpr(14px);
    display: table;
    width: 100%;
    border-bottom: p2e(1px) solid lightgray;

    p {
      margin: p2e(14px) auto;
    }

    .inline-block {
      display: inline-block;
      margin-right: p2e(14px);
    }
  }

  .product-info {
    background: #FFFFFF;

    .product-thumb {
      display: inline-block;
      width: p2e(150px);

      img {
        width: 100%;
      }
    }

    .product-name {
      @include font-dpr(16px);
      display: inline-block;
      position: absolute;

      p {
        line-height: p2e(48px);
      }
    }

    .product-count {
      display: inline-block;

      p {
        @include font-dpr(14px);
      }
    }
  }

  .pay-info {
    @include font-dpr(14px);
    background: #FFFFFF;

    .border-bottom {
      border-bottom: p2e(1px) solid lightgray;
    }
  }
}

.add-address-form {
  background: #ffffff;
  @include font-dpr(16px);
  padding-top: p2e(14px);
  padding-bottom: p2e(14px);

  .form-item {
    display: table;
    margin-top: p2e(14px);
    margin-left: p2e(14px);
    line-height: p2e(56px);

    .label-text {
      display: table-cell;
      padding: p2e(10px);
    }

    .field-column {
      display: table-cell;
      line-height: p2e(56px);
    }

    .city-group {
      display: block;
    }
  }

  .buttons {
    text-align: center;
    @include font-dpr(14px);
    margin: p2e(28px);

    .btn-default {
      line-height: p2e(56px);
    }
  }
}

.dedications {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: white;
  text-align: center;

  input[type=number] {
    line-height: p2e(80px);
    @include font-dpr(20px);
    text-align: center;
    width: p2e(150px);
    border: 1px solid red;
  }

  .title {
    @include font-dpr(16px);
    text-align: center;
    margin: p2e(36px) auto;
    color: grey;
  }

  .buttons {
    margin: p2e(36px) auto;
  }
}

.purchases {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: white;
  text-align: center;

  .title {
    @include font-dpr(16px);
    text-align: center;
    margin: p2e(36px) auto;
    color: grey;
  }

  .purchase-item {
    border-bottom: p2e(1px) solid lightgrey;
    display: inline-flex;

    .item-left {
      width: p2e(200px);
      -moz-box-flex: 1;
      -webkit-box-flex: 1;

      img {
        width: 100%;
      }
    }

    .item-right {
      text-align: left;
      -moz-box-flex: 5;
      -webkit-box-flex: 5;

      .info-top {
        @include font-dpr(14px);

        p {
          line-height: p2e(42px);
        }
      }

      .info-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-price {
          -webkit-box-flex: 1;
          @include font-dpr(18px);
          color: red;
        }

        .item-btn {
          -webkit-box-flex: 1;
          align-self: flex-end;

          .btn-highlight {
            padding-left: p2e(20px);
            padding-right: p2e(20px);
            width: 100%;
          }
        }
      }
    }
  }
}

.project-overview {
  background: #ffffff;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;

  .p-thumb {
    border: 1px solid black;
    //display: inline-flex;
    width: 25%;

    img {
      width: 100%;
    }
  }

  .p-title {
    display: inline-flex;
    width: 60%;
    @include font-dpr(14px);
  }

  .p-btn {
    display: inline-flex;
    width: 21%;

    .btn-highlight {
      padding-left: p2e(20px);
      padding-right: p2e(20px);
      width: 100%;
    }
  }
}