<div class="demo" id="demo">
  <div class="demo-head">
    <div class="demo-headimg">
      <%= image_tag 'donation_bgp.png' %>
    </div>

    <div class="demo-title m-t">
      <p>这里输入标题</p>
    </div>

    <div class="demo-desc" id="demo-desc">
      <p>这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</p>
    </div>

  </div>

  <div class="demo-head">
    <div class="demo-headimg">
      <%= image_tag 'hebe.jpg' %>
    </div>

    <div class="demo-title m-t">
      <p>这里输入标题</p>
    </div>

    <div class="demo-desc" id="demo-desc">
      <p>这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</p>
    </div>

  </div>

</div>

<script>
  $('.demo-head').one('click', function() {
    $('.demo-head').remove();
    $(this).appendTo('#demo');
    $('#demo-desc').remove();
    content = "<%= j render(:partial => 'shared/demo/demo_content') %>";
    $(content).hide().appendTo('#demo').fadeIn(1000);
  });

</script>
