<div class="register-form-wrapper">
  <div class="register-form">
    <h3 class="title p-t p-b">手机号注册</h3>
    <%= form_tag '/registrations', method: :post do %>
      <div class="form-label m-t m-b">手机号</div>
      <div class="telephone-wrapper">
        <span>+86</span><%= telephone_field_tag :telephone, nil, :placeholder => '请输入手机号码' %>
      </div>

      <div class="form-label m-t m-b">验证码</div>
      <div class="code-wrapper">
        <%= text_field_tag :code, nil, :placeholder => '请输入验证码' %>
        <div class="send-code-btn p-l p-r" id="send-code-btn">发送验证码</div>
      </div>
      <div class="buttons">
        <%= submit_tag '注  册', id: 'register-btn', class: 'btn btn-default btn-highlight p-t p-b' %>
      </div>
    <% end %>
  </div>
</div>

<div class="background-color-fill"></div>
