<div class="bottom-nav" id="bottom-nav">
  <div class="bottom-nav-fixed m-t">
    <%= link_to home_index_path do %>
      <i class="fa fa-home fa-lg"></i>
      <p>首页</p>
    <% end %>
    <%= link_to shelf_items_path do %>
      <i class="fa fa-glass fa-lg"></i>
      <p>好物</p>
    <% end %>
    <%= link_to projects_path do %>
      <i class="fa fa-envira fa-lg"></i>
      <p>优活</p>
    <% end %>
    <%= link_to personal_center_home_index_path do %>
      <i class="fa fa-user fa-lg"></i>
      <p>我的</p>
    <% end %>
  </div>
</div>