<ul class="products-list p-t p-b">
  <% @shelf_items.each do |p| %>
    <%= link_to shelf_item_path p.id do %>
      <li class='goods-item m-t'>
        <%= image_tag p.thumb %>
      </li>
    <% end %>
  <% end %>
</ul>
