<ul class="nav nav-tabs tab-style2">
  <li class="active">
    <a href="#style2Tab1" data-toggle="tab">
      <span class="icon-wrapper"><i class="fa fa-bar-chart-o"></i></span>
      <span class="text-wrapper">待上架商品</span>
    </a>
  </li>
  <li>
    <a href="#style2Tab2" data-toggle="tab">
      <span class="icon-wrapper"><i class="fa fa-book"></i></span>
      <span class="text-wrapper">已上架商品</span>
    </a>
  </li>
  <li>
    <a href="#style2Tab2" data-toggle="tab">
      <span class="icon-wrapper"><i class="fa fa-book"></i></span>
      <span class="text-wrapper">被下架商品</span>
    </a>
  </li>
  <!--<li>-->
  <!--<a href="#style2Tab3" data-toggle="tab">-->
  <!--<span class="icon-wrapper"><i class="fa fa-credit-card"></i></span>-->
  <!--<span class="text-wrapper">Payment</span>-->
  <!--</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a href="#style2Tab4" data-toggle="tab">-->
  <!--<span class="icon-wrapper"><i class="fa fa-cog"></i></span>-->
  <!--<span class="text-wrapper">Setting</span>-->
  <!--</a>-->
  <!--</li>-->
</ul>
<!--<div class="smart-widget-body">-->
<!--<div class="tab-content">-->
<!-- -->
<!--<div class="tab-pane fade" id="style2Tab2">-->
<!--<div class="block h4"><strong>Account Tab</strong></div>-->
<!--<p class="m-top-sm">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>-->
<!--</div>&lt;!&ndash; ./tab-pane &ndash;&gt;-->
<!--<div class="tab-pane fade" id="style2Tab3">-->
<!--<div class="block h4"><strong>Payment Tab</strong></div>-->
<!--<p class="m-top-sm">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>-->
<!--</div>&lt;!&ndash; ./tab-pane &ndash;&gt;-->
<!--&lt;!&ndash;<div class="tab-pane fade" id="style2Tab4">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="block h4"><strong>Setting Tab</strong></div>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="m-top-sm">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; ./tab-pane &ndash;&gt;&ndash;&gt;-->
<!--</div>&lt;!&ndash; ./tab-content &ndash;&gt;-->
<!--</div>-->
