<div class="demo">
  <div class="demo-head">
    <div class="demo-headimg">
      <%= image_tag 'donation_bgp.png' %>
    </div>
  </div>
  <div class="demo-title">
    <h2>Demo test title</h2>
  </div>
</div>sd