<div class="donate_page" id="donate_page">
  <div class="donate_page_head">
    <%= image_tag 'donation_bgp.png' %>
  </div>

  <div class="donation-photos m-t p-l">
    <div class="camera">

    </div>
  </div>

  <div class="donation-info">

  </div>

</div>