<div class="donations-center" id="donations-center">
  <div class="donation-head"></div>

  <div class="donate-btn m-r m-l" id="donate-btn">
    <p>我要捐赠</p>
  </div>

  <div class="donation-remarks m-t m-b p-t p-b">
    <p>你还没有捐赠过物品哦~</p>
    <p>点击上方按钮前往捐赠吧~</p>
  </div>

  <div class="history-donations" id="history-donations">
    <div class="donation s-s p-t p-b p-l p-r">
      <div class="donation-pic ">
        <%= image_tag '1.png' %>
      </div>

      <div class="donation-description p-l">
        <p class="title p-b">这里输入标题这里输入标题</p>
        <p class="date p-b">2016.5.1</p>
        <p class="state p-b">已完成</p>
      </div>

    </div>

    <div class="donation s-s p-t p-b p-l p-r">
      <div class="donation-pic ">
        <%= image_tag '1.png' %>
      </div>

      <div class="donation-description p-l">
        <p class="title p-b">这里输入标题这里输入标题</p>
        <p class="date p-b">2016.5.12</p>
        <p class="state p-b">审核中</p>
      </div>

    </div>

    <div class="donation s-s p-t p-b p-l p-r">
      <div class="donation-pic ">
        <%= image_tag '1.png' %>
      </div>

      <div class="donation-description p-l">
        <p class="title p-b">这里输入标题这里输入标题</p>
        <p class="date p-b">2016.5.5</p>
        <p class="state p-b">物流运输中</p>
      </div>

    </div>

  </div>

</div>
