<ul class="order-list" id="order-list">
  <li class="order-item p-l p-r">
    <div class="item-head">
      <p class="t-left">2016.6.25</p>

      <div class="delivery-status t-right">
        <p>配送中</p>
        <i class="arrow fa fa-angle-right fa-2x"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>

    <%= link_to do %>
      <div class="item-body">
        <div class="brief-info m-b">
          <div class="product-thumb p-l p-r">
            <%= image_tag '1.png' %>
          </div>

          <div class="product-name m-r m-l m-t m-b">
            <!--<p><%#= @order_detail.product_name.to_s %></p>-->
            <p>测试商品3测试商品3测试商品3测试商品3</p>
          </div>

          <div class="product-price m-t p-b p-r">
            <!--<p class="inline-block">￥<%#= @order_detail.price.to_s %></p>-->
            <p class="inline-block">￥188</p>
          </div>

          <div class="product-count m-t p-b p-r">
            <!--<p class="inline-block">x<%#= @order_detail.count.to_s %></p>-->
            <p class="inline-block">x1</p>
          </div>

          <div class="order-price m-t p-b p-r">
            <p class="inline-block red">实付:￥188</p>
          </div>
        </div>
      </div>
    <% end %>
  </li>

  <li class="order-item p-l p-r">
    <div class="item-head">
      <p class="t-left">2016.6.25</p>

      <div class="delivery-status t-right">
        <p>配送中</p>
        <i class="arrow fa fa-angle-right fa-2x"></i>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>

    <%= link_to do %>
      <div class="item-body">
        <div class="brief-info m-b">
          <div class="product-thumb p-l p-r">
            <%= image_tag '1.png' %>
          </div>

          <div class="product-name m-r m-l m-t m-b">
            <!--<p><%#= @order_detail.product_name.to_s %></p>-->
            <p>测试商品3测试商品3测试商品3测试商品3</p>
          </div>

          <div class="product-price m-t p-b p-r">
            <!--<p class="inline-block">￥<%#= @order_detail.price.to_s %></p>-->
            <p class="inline-block">￥188</p>
          </div>

          <div class="product-count m-t p-b p-r">
            <!--<p class="inline-block">x<%#= @order_detail.count.to_s %></p>-->
            <p class="inline-block">x1</p>
          </div>

          <div class="order-price m-t p-b p-r">
            <p class="inline-block red">实付:￥188</p>
          </div>
        </div>
      </div>
    <% end %>
  </li>
</ul>