<div id="order-pay" class="order-pay">
  <p>订单支付</p>
  <!--<div class="delivery-addr">-->
    <!--<p class="inline-block"><%#= @address.receiver_name.to_s %></p>-->
    <!--<p class="inline-block"><%#= @address.mobile.to_s %></p>-->
    <!--<p><%#= @address.province.to_s + @address.city.to_s + @address.district.to_s %></p>-->
    <!--<p><%#= @address.detail_address.to_s %></p>-->
  <!--</div>-->
</div>