<div id="order-pay" class="order-pay">
  <!--<div class="delivery-addr">-->
    <!--<p class="inline-block"><%#= @address.receiver_name.to_s %></p>-->
    <!--<p class="inline-block"><%#= @address.mobile.to_s %></p>-->
    <!--<p><%#= @address.province.to_s + @address.city.to_s + @address.district.to_s %></p>-->
    <!--<p><%#= @address.detail_address.to_s %></p>-->
  <!--</div>-->

  <div class="delivery-addr">
    <p class="inline-block">唐旭</p>
    <p class="inline-block">15021924866</p>
    <p>上海市市辖区徐汇区</p>
    <p>襄阳南路现代大厦502B</p>
  </div>

  <div class="brief-info">
    <div class="product-thumb">
      <%= image_tag '' %>
    </div>
    <div class="product-name">

    </div>
  </div>

</div>