/**********  default global settings  **********/

.s-s {
  margin: p2e(20px) 0 0 0;
  background: #ffffff;
}

.m-t {
  margin-top: p2e(16px);
}

.m-r {
  margin-right: p2e(16px);
}

.m-b {
  margin-bottom: p2e(16px);
}

.m-l {
  margin-left: p2e(16px);
}

.p-l {
  padding-left: p2e(32px);
}

.p-r {
  padding-right: p2e(32px);
}

.p-t {
  padding-top: p2e(16px);
}

.p-b {
  padding-bottom: p2e(16px);
}