<div class="wrapper-lg">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading h5">新增捐赠品</div>
        <div class="panel-body">
          <%= render partial: 'form', locals: { url: donations_path, back_url: donations_path } %>
        </div>
      </div>
    </div>
  </div>
</div>
