<div class="projects" id="projects">
  <div class="project-list">
    <% if @projects != [] %>
      <% @projects.each do |ele| %>
        <%= link_to detail_project_path ele.id do %>
          <div class="project-item m-b">
            <div class="project-pic">
              <%= image_tag ele.banner %>
            </div>
          </div>
        <% end %>
      <% end  %>
    <% end %>
  </div>
</div>

<%= render template: 'shared/tabs' %>

<%= content_for :title, set_title('优活') %>