<div class="projects p-t p-b" id="projects">
  <div class="project-list p-r p-l">
    <% if @projects != [] %>
      <% @projects.each do |ele| %>
        <%= link_to detail_project_path ele.id do %>
          <div class="project-item m-t">
            <div class="project-pic">
              <%= image_tag ele.banner %>
            </div>
          </div>
        <% end %>
      <% end  %>
    <% end %>
  </div>
</div>

<%= content_for :title, set_title('优活') %>