<div class="projects s-s p-b" id="projects">
  <div class="header-section p-t p-l p-r">
    <p class="title m-b">公益项目</p>
  </div>

  <div class="project-item m-t">
    <div class="project-pic">
      <%= image_tag 'project1.png' %>
    </div>
  </div>

  <div class="project-item m-t">
    <div class="project-pic">
      <%= image_tag 'project2.png' %>
    </div>
  </div>

  <div class="project-item m-t">
    <div class="project-pic">
      <%= image_tag 'project3.png' %>
    </div>
  </div>

</div>