<div id="my-address" class="my-address">
  <div class="address-item p-l p-r p-t p-b">
    <p class="name">Name</p>

    <p class="tel">Telephone</p>

    <p class="address">address</p>
  </div>

  <div class="address-item p-l p-r p-t p-b">
    <p class="name">Name</p>

    <p class="tel">Telephone</p>

    <p class="address">address</p>
  </div>

</div>

<%= link_to new_address_path do %>
  <button class="btn btn-default btn-highlight m-l m-r p-t p-b">添加地址</button>
<% end %>
