<div class="nav-content-head">
  <ul class="breadcrumb">
    <li><span class="primary-font"><i class="icon-home"></i></span><a href="/admin/home"> Home</a></li>
    <li>商品管理</li>
    <li>全部商品</li>
  </ul>
  <button class="btn-new btn btn-primary marginTB-xs">
    <i class="fa fa-plus m-right-xs"></i>New Products
  </button>
</div>