<div class="preview">
  <div class="shelf-item-detail">
    <div class="big-thumb">
      <%= image_tag @product.thumb %>
    </div>

    <div class="main">
      <div class="main-left">
        <div class="product-name">
          <%= @product.product_name.to_s %>
        </div>
        <div class="price">
          <span class="big-price">￥100</span>
          <span class="coin">10公益币</span>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="detail-body p-r p-l p-t p-b">
      <%= @product.product_detail.to_s.html_safe %>
    </div>

    <div class="buttons" style="position: relative">
      <button id="buy-btn" class="btn btn-default btn-highlight m-l m-r p-t p-b">立即购买</button>
      <button id="cart-btn" class="btn btn-default m-l m-r p-t p-b">加入购物车</button>
    </div>

  </div>
</div>

<% content_for :title, set_title('商品详情')  %>
