<% if @support != [] %>
  <div class="support-confirm">
    <div class="project-item m-t m-b p-t p-b p-l p-r">
      <div class="project-pic">
        <%= image_tag @support.project.banner %>
      </div>
    </div>
    <p>感谢您的捐赠!</p>
    <p>前往<a href="/supports">我支持的项目</a>查看</p>
    <div class="remarks">
      <p>捐款将由探索公益基金会代为接收</p>
      <p>后续公示请关注索益公益传播公众号</p>
    </div>
  </div>
<% else %>
  <div class="support-confirm">
    <p>查无记录。</p>
  </div>
<% end %>