<ul class="products-list p-t p-b">
  <% @products.each do |p| %>
    <%= link_to detail_product_path p.id do %>
      <li class='goods-item m-t'>
        <%= image_tag p.thumb %>
      </li>
    <% end %>
  <% end %>

</ul>