<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>慈善超市后台管理</title>
  <%= stylesheet_link_tag 'custom/admin/mobile', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="preview">
  <%= yield %>
</div>
</body>
</html>